*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image:linear-gradient(0deg, rgba(8, 8, 8, 0.572), rgba(0, 0, 0, 0.109)), url('../images/coverImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30vh 0;
}
.btn-primary{
    background-color: tomato;
    font-weight: 500;
    font-size: 45px;

}

/* banner style */
.banner{
    color: aliceblue;
    display: flex;
    align-items: center;
    margin: 0 400px;
}

.banner-title{
    color: aliceblue;
    font-weight: 800;
    font-size: 85px;
    margin-bottom: 50px;
    
}
.banner-sub-title{
    color: rgb(181, 218, 206);
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 50px;
    
}
/*main section */
main{
    max-width: 1140px;
   margin: 0 auto;
}
/*donate section styles*/
.donate{
    margin-top: 50px;
    border-radius: 20px;
    padding: 130px 150px;
}
.section-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300px;
    font-size: 45px;

}
.section-decription{
    color: rgb(109, 136, 136);
    font-weight: 50px;
    font-size: 25px;
}
/* about section*/

.info-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around ;
    
}

.info-title{
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb( 204 , 204, 204);

}
.info-title:hover {
    outline: 2px solid tomato;
    background-color: rgb(252, 252, 220);
}
.info-decription{
    color: rgb(66, 66, 66);
   
}
.info-title:hover .info-decription {
    color: tomato;
}
/*section styles*/

.section-title{
    text-align: center;
    font-weight: 50px;
    font-size: 35px;
    
}
.section-alain{
    color: rgb(109, 136, 136);
    background-color:rgb(245, 240, 240);
}
.section-derection{
    background-color: tomato;
    margin-top: 30px;
    font-weight: 75px;
    font-size: 35px;
    border-radius: 5px;
    padding: 5px;
}
/*donate plan styles */

.oder-title{
    margin-top: 130px;
}
.oder-alain{
    color: black;
    font-weight: 600px;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}
.oder-derection{
    text-align: center;
    font-weight: 50px;
    font-size: 25px;
    color: rgb(109, 136, 136);
    padding: 30px;
}
/*skills styles*/

.skills-container{
    display: flex;
    gap:24px;
    margin-top: 20px;
    padding: 10px;
}
.skill{
    background-color: rgb(245, 178, 178);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-alain{
    background-color: rgb(195, 235, 235);
    padding: 30px;
}
.skill-decoretion{
    background-color: rgb(168, 228, 162);
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
}
.skill-description{
    color: rgb(56, 56, 56);
    margin-top: 20px;
    padding: 10px;
}

/*meta styles*/

.meta-container{
    display: flex;
    gap:24px;
    margin-top: 20px;
    padding: 10px;
}
.meta-title{
    font-size: 40px;
    font-weight: 10px;
    margin-top: 20px;
    padding: 10px;
}
.meta-alain{
    color: black;
    font-size: 20px;
    font-weight: 5px;
    padding: 10px;
}
.meta-description{
    font-size: 20px;
    font-weight: 5px;
    padding: 15px;
}
.meta-derection{
    background-color: tomato;
    font-size: 25px;
    font-weight: 10px;
    border-radius: 5px;
    margin-top: 10px;
} 
.meta-contain{
    height: 500px;
    width: 500px;
}
/*deta styles*/
.deta-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
}
.deta-title{
    font-size: 40px;
    font-weight: 10px;
    margin-top: 20px;
    padding-left: 100px;
   
}
.deta-alain{
    
    color: black;
    font-size: 20px;
    font-weight: 5px;
    margin-top: 20px;
    padding: 20px;
    padding-left: 100px;
}
.deta-descripton{
    color: black;
    font-size: 20px;
    font-weight: 10px;
    padding: 20px;
    padding-left: 100px;
}
.deta-derection{
    font-size: 20px;
    font-weight: 10px;
    background-color: tomato;
    text-align: 100px left;
    padding: 20px;
    padding-bottom: 5px;

}
.deta-contain{
    height: 500px;
    width: 500px;
    padding: 10px;
}