*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image:linear-gradient(0deg, rgba(8, 8, 8, 0.572), rgba(0, 0, 0, 0.109)), url('../images/coverImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30vh 0;
}

/* banner style */
.banner{
    color: aliceblue;
    display: flex;
    align-items: center;
    margin: 0 400px;
}

.banner-title{
    color: aliceblue;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 100px;
    
}
.banner-sub-title{
    font-weight: 600;
    font-size: 18px;
    
}